body
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);

.qd-action-buttons
    flex-basis: 0
    box-sizing: content-box
    display: flex
    margin-left: auto
    margin-right: auto

.qd-button-group
    height: 36px
    background: rgb(21, 23, 24)
    border-radius: 16px
    gap: 8px
    padding: 2px

.qd-action-btn
    display: flex
    justify-content: center
    align-items: center
    font-weight: 500
    padding: 8px 12px
    color: darken(#fff, 30%)
    border-radius: 14px
    &>.qd-action-btn-icon
        fill: darken(#fff, 30%)

    &.active
        background: lighten(rgb(21, 23, 24), 5%)
        color: #fff
        &>.qd-action-btn-icon
            fill: #fff
    

.qd-action-btn-icon
    margin-right: 8px
    
.qd-notfound-img
    z-index: -1
    position: relative
    margin-top: -8rem
    margin-bottom: -6rem
    width: 400px
    height: 400px
